/*主题宽高*/

// 整个application
$app-width: 70vw;
$app-height: 100vh;

// 最顶部header
$header-width: #{$app-width};
$header-height: 50px;

// 横幅banner
$banner-width: #{$app-width};
$banner-height: calc(0.25 * #{$app-height});

// 菜单栏
$menu-width: #{$app-width};
$menu-height: $header-height;

// footer
$footer-width: #{$app-width};
$footer-height: 35px;

// container区域，宽高
$container-wrapper-width: #{$app-width};
$container-wrapper-height: calc(
  #{$app-height} - #{$header-height} - #{$banner-height} - #{$menu-height} - #{$footer-height}
);
$container-wrapper-padding: 15px;

// 真正的路由内容区域，宽高
$container-inner-width: calc(#{$container-wrapper-width} - (2 * #{$container-wrapper-padding}));
$container-inner-height: calc(#{$container-wrapper-height} - (2 * #{$container-wrapper-padding}));

// 阴影
$common-box-shadow: 0 5px 5px rgba(144, 166, 193, 0.2);
// 间距
$common-margin: 7px;
