/*主题宽高*/

// 定义成css变量，这样定义可以在别处切换变量值，来动态实现主题切换
// 如在 App.vue 中 覆盖
/*
@media screen and (max-device-width: 1280px) {
  :root {
    --app-width: 100vw;
    --app-height: 100vh;
  }
}
*/
:root {
  --app-width: 100vw;
  --app-height: 100vh;
}

// 整个application
$app-width: var(--app-width);
$app-height: var(--app-width);

// 最顶部header
$header-height: 50px;
$header-width: #{$app-width};

// content 包含 菜单栏和内容栏
$content-width: #{$app-width};
$content-height: calc(#{$app-height} - #{$header-height});

// 菜单栏
$side-bar-width: 14vw;
$side-bar-height: $content-height;
$side-bar-collapse-width: 64px;

// 菜单右侧内容区域
$container-width: calc(#{$app-width} - #{$side-bar-width});
$container-collapse-width: calc(#{$app-width} - #{$side-bar-collapse-width});
$container-height: $content-height;

// 面包屑高度
$container-header1-width: $container-width;
$container-header1-collapse-width: $container-collapse-width;
$container-header1-height: 50px;

// 标签栏高度
$container-header2-width: $container-width;
$container-header2-collapse-width: $container-collapse-width;
$container-header2-height: 35px;

// container区域，宽高
$container-wrapper-padding-left: 10px;
$container-wrapper-padding-top: 15px;
$container-wrapper-margin-bottom: 10px;
$container-wrapper-padding: $container-wrapper-padding-top $container-wrapper-padding-left 0
  $container-wrapper-padding-left;
$container-wrapper-width: $container-width;
$container-wrapper-collapse-width: $container-collapse-width;
$container-wrapper-height: calc(
  #{$container-height} - #{$container-header1-height} - #{$container-header2-height} - #{$container-wrapper-margin-bottom}
);

// 真正的路由内容区域，宽高
$container-inner-width: calc(#{$container-wrapper-width} - (2 * #{$container-wrapper-padding-left}));
$container-inner-collapse-width: calc(#{$container-wrapper-collapse-width} - (2 * #{$container-wrapper-padding-left}));
$container-inner-height: calc(#{$container-wrapper-height} - #{$container-wrapper-padding-top});

// 阴影
$common-box-shadow: 0 5px 5px rgba(144, 166, 193, 0.2);
// 间距
$common-margin: 7px;
